<div id="home" class="transitions-enabled">
    <div class="box panel panel-default">
      
        <a href="http://awesomewebsiteguys.com/" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >Website<br>
	        
	        <%= image_tag("awesomemuslogo.png") %>
        </a>
              
    </div>
     <div class="box panel panel-default">
      
        <a href="http://awesomewebsiteguys.com/" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >Website<br>
	        
	        <%= image_tag("awesomemuslogo.png") %>
        </a>
              
    </div><div class="box panel panel-default">
      
        <a href="http://awesomewebsiteguys.com/" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >Website<br>
	        
	        <%= image_tag("awesomemuslogo.png") %>
        </a>
              
    </div><div class="box panel panel-default">
      
        <a href="http://awesomewebsiteguys.com/" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >Website<br>
	        
	        <%= image_tag("awesomemuslogo.png") %>
        </a>
              
    </div><div class="box panel panel-default">
      
        <a href="http://awesomewebsiteguys.com/" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >Website<br>
	        
	        <%= image_tag("awesomemuslogo.png") %>
        </a>
              
    </div> 
</div>

