<div>
     
     <% if admin_signed_in? %>
       
     

<div id="home" class="transitions-enabled">
    <div class="box panel panel-default">
      
        <a href="http://awesomewebsiteguys.com/" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >Website<br>
	        
	        <%= image_tag("awesomemuslogo.png") %>
        </a>
              
    </div>
       <div class="box panel panel-default">
      
        <a href="http://support.awesomewebsiteguys.com/admin" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >Support<br>
	        
	        <%= image_tag("awesomemuslogo.png") %>
        </a>
              
    </div>
       <div class="box panel panel-default">
      
        <a href="http://awesomewebsiteguys.com/clients" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >Hosting<br>
	        
	        <%= image_tag("awesomemuslogo.png") %>
        </a>
              
    </div>
     <div class="box panel panel-default">
      
        <a href="https://www.greengeeks.com/login/" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >Green Geeks<br>
	        
	        <%= image_tag("ggs-logo.png") %>
        </a>
              
    </div>
    <div class="box panel panel-default">
      
        <a href="https://drive.google.com/?tab=mo&authuser=0#folders/0BzDfMKaJAuiUcjc1aUtKdlpqNFk" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >Google Docs<br>
	        
	        <%= image_tag("googledoc.png") %>
        </a>
              
    </div>
    <div class="box panel panel-default">
      
        <a href="https://mail.zoho.com" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >Email<br>
	        
	        <%= image_tag("zmaillogo.png") %>
        </a>
              
    </div>
    <div class="box panel panel-default">
      
        <a href="https://www.waveapps.com/" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >Accounting<br>
	        
	        <%= image_tag("wave.png") %>
        </a>
              
    </div> 
      <div class="box panel panel-default">
      
        <a href="https://www.godaddy.com/" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >Godaddy<br>
	        
	        <%= image_tag("gd_logo.png") %>
        </a>
              
    </div>
    <div class="box panel panel-default">
      
        <a href="http://mailchimp.com/" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >Newsletter<br>
	        
	        <%= image_tag("mailchimp.png") %>
        </a>
              
    </div>
    <div class="box panel panel-default">
      
        <a href="https://app.asana.com/0/23200288000765/23200288000765" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >CRM<br>
	        
	        <%= image_tag("asana.png") %>
        </a>
              
    </div>
    <div class="box panel panel-default">
      
        <a href="https://www.dropbox.com/login" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px">Drop Box<br>
	        
	        <%= image_tag("dropbox.png") %>
        </a>
              
    </div>  
         <div class="box panel panel-default">
      
        <a href="https://www.uberconference.com/" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px">Uber Conference<br>
	        
	        <%= image_tag("uberconference_white.png") %>
        </a>
              
    </div>  
     <div class="box panel panel-default">
      
        <a href="http://www.mijireh.com/" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >Mijireh<br>
	        
	        <%= image_tag("mijireh.png") %>
        </a>
              
    </div><div class="box panel panel-default">
      
        <a href="https://dashboard.stripe.com/login" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >Stripe Payment<br>
	        
	        <%= image_tag("stripe.png") %>
        </a>
              
    </div><div class="box panel panel-default">
      
        <a href="https://www.bankofamerica.com/smallbusiness/" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >Banking<br>
	        
	        <%= image_tag("bofa.png") %>
        </a>
              
    </div> 
    
     <div class="box panel panel-default">
      
        <a href="https://admin.typeform.com/" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >Forms<br>
	        
	        <%= image_tag("typeform.png") %>
        </a>
              
    </div>
          <div class="box panel panel-default">
      
        <a href="https://www.facebook.com/AwesomeWebGuys" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >Facebook<br>
	        
	        <%= image_tag("facebook.png") %>
        </a>
              
    </div>
     <div class="box panel panel-default">
      
        <a href="https://twitter.com/AwesomeWebGuys" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >Twitter<br>
	        
	        <%= image_tag("twitter.png") %>
        </a>
              
    </div><div class="box panel panel-default">
      
        <a href="http://instagram.com/AwesomeWebGuys" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >Instagram<br>
	        
	        <%= image_tag("instagram.png") %>
        </a>
              
    </div><div class="box panel panel-default">
      
        <a href="#" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >Google Plus<br>
	        
	        <%= image_tag("google.png") %>
        </a>
              
    </div>
    <div class="box panel panel-default">
      
        <a href="http://www.flaticon.com/" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >Flat Icon<br>
	        
	        <%= image_tag("flaticon.png") %>
        </a>
              
    </div> 
         </div>
<% else %>
<div class="jumbotron center">
	<h1>Welcome to <br>Awesome Website Guys</h1>
       <p>
         <%= link_to "Log in", "#myModal", "data-toggle" => "modal", class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", new_admin_registration_path, class: "btn btn-primary btn-lg" %>
       </p>
      

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign In</h4>
      </div>
      <div class="modal-body">
        <%= render "/devise/sessions/new.html.erb" %>
      </div>
    
    </div>
  </div>
</div>
</div>
  <% end %>  
</div>
<script>
$('#myModal').on('shown.bs.modal', function () {
    $('#myInput').focus()
  })
  </script>