<div id="home" class="transitions-enabled">
    <div class="box panel panel-default">
      
        <a href="http://awesomewebsiteguys.com/" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >Website<br>
	        
	        <%= image_tag("awesomemuslogo.png") %>
        </a>
              
    </div>
     <div class="box panel panel-default">
      
        <a href="https://mail.zoho.com" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >Email<br>
	        
	        <%= image_tag("zmaillogo.png") %>
        </a>
              
    </div><div class="box panel panel-default">
      
        <a href="http://mailchimp.com/" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >Newsletter<br>
	        
	        <%= image_tag("mailchimp.png") %>
        </a>
              
    </div><div class="box panel panel-default">
      
        <a href="https://awesomewebsiteguys.insight.ly" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >CRM<br>
	        
	        <%= image_tag("insightly.png") %>
        </a>
              
    </div><div class="box panel panel-default">
      
        <a href="https://www.waveapps.com/" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >Accounting<br>
	        
	        <%= image_tag("wave.png") %>
        </a>
              
    </div> 
        <div class="box panel panel-default">
      
        <a href="https://admin.typeform.com/" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >Forms<br>
	        
	        <%= image_tag("typeform.png") %>
        </a>
              
    </div>
     <div class="box panel panel-default">
      
        <a href="https://docs.google.com/spreadsheets/d/1h-3uzN6bgTZoEX485v-7RAcZU3K0lE7intVzEAKrkz4/edit?usp=sharing" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >Balance Sheet<br>
	        
	        <%= image_tag("googledoc.png") %>
        </a>
              
    </div><div class="box panel panel-default">
      
        <a href="http://www.mijireh.com/" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >Mijireh<br>
	        
	        <%= image_tag("mijireh.png") %>
        </a>
              
    </div><div class="box panel panel-default">
      
        <a href="https://dashboard.stripe.com/login" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >Stripe Payment<br>
	        
	        <%= image_tag("stripe.png") %>
        </a>
              
    </div><div class="box panel panel-default">
      
        <a href="https://www.bankofamerica.com/smallbusiness/" target="_blank" style=" text-align: center;position: relative;top: 55px; display:block;height: 200px; width: 200px;color:#333;font-size: 22px" >Banking<br>
	        
	        <%= image_tag("bofa.png") %>
        </a>
              
    </div> 
</div>

